            <hr style="border:none;border-top:1px solid #eee" />
            <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
                <p>Flazhost Corporation</p>
                <p>1600 Amphitheatre Parkway</p>
                <p>California</p>
            </div>
        </div>
    </div>
</body>
</html>
